{% extends "::base.html.twig" %}
{% block body %}
<h3>Formulario</h3>
{{ errors }}
<form method="post">
    <div>
{{ form_widget(form) }}
    </div>
    <input type="submit" />
</form>
{{ form_javascript(form) }}
{{ form_stylesheet(form) }}
{% endblock %}


